body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f2fbfe;
}

/* HEADER */
header{
  display: flex;
  background-color: #C1DDE8;
}

.titre_principale {
  display: flex;
  flex-direction: column;
  margin-top: -3vh;
}

.titre_principale h1 {
  font-size: 20px;
  color: #171730;
  margin-left: 7vw;
  margin-top: -4vh;
}

.logo{
  width: 25vw;
  height: 25vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-top: 17vh;
  padding-left: 3vw;
}

nav li {
  margin-right: 3vw;
}

nav a {
  color: #171730;
  font-size: 17px;
  text-decoration: none;
}

nav a:hover, .date a:hover,  .btn-retour a:hover, .btn-new a:hover, .btn-list a:hover, .btn-register a:hover {
  color: #191970;
  border-bottom: 2px solid #191970;
  
}

/* PAGE ACCEUIL, DISPARU, TROUVE ET MES ANNONCES */

h2{
  text-align: center;
  color: #1b1b5b;
  margin-top: 15vh;
  font-size: 35px;
}
.container{
    display: flex;
    height: 100vh;
    margin: 8vh 3vw 0 2vw;
}

.animals{
  width: 22vw;
  height: 55vh;
  background-color: #D2E8F1;
  margin: 5vh 2vw 0 0;
}

.imgAnimal{
  width: 18vw;
  height: 24vh;
  object-fit: cover;
  padding-top: 1.2vh;
}

.info{
  font-size: 16px;
  text-align: center;
  padding-top: 1vh;
  background-color: #ffffff;
  color: #1b1b5b;
  height: 4vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border-radius: 8px;
}

.info-img {
  text-align: center;
}

.date-annonce {
  display: flex;
  font-size: 15px;
  margin-top: -1.5vh;
}

.date, .show {
  width: 20vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  background-color: #ffffff;
  color: #1b1b5b;
  border-radius: 8px;
  font-size: 14px;
}

.btn-delete{
  width: 5.8vw;
  background-color: #ffffff;
  color: #1b1b5b;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 1.7vh;
  margin-right: 3vw;
}

.date a {
  text-decoration: none;
  color: #1b1b5b; 
}

.btn-new {
  background-color: #D2E8F1;
  color: #1b1b5b;
  width: 13vw;
  height: 6vh;
  padding: 2vh 0 0 2vw;
  margin: 10vh 0 0 3vw;
}

.btn-new a {
  color: #1b1b5b;
  text-decoration: none;
  font-size: 18px;
}


/* PAGE SHOW DISPARU, TROUVE ET SHOW-USER*/
.container2 {
  background-color: #D2E8F1;
  height: auto;
  width: 75vw;
  margin: -2.8vh auto 0 auto;
  padding: 3vh 0 10vh 0; 
}

.show-perdu {
  border: 3px #1b1b5b solid;
  margin: 10vh 5vw 0 5vw;
  background-color: #ffffff;
  height: 130vh;
}

.detail {
  display: flex;
}

.name {
  text-align: center;
  font-size: 30px;
  color: #1b1b5b;
  font-weight: bold;
  margin-top: 8vh;
}

.imgShowAnimal {
  width: 22vw;
  height: 78vh;
  object-fit: cover;
  padding-left: 5vw;
}

.presentation {
  padding: 1.8vh 0 0 5vw;
  font-size: 15px;
}

.date-show{
  margin-top: 5vh;
}

.adresse, .contact {
  margin-top: 5vh;
}

.sous-titre {
  font-size: 16px;
  color: #1b1b5b;
  font-weight: bold;
}

.description {
  margin: 5vh 5vw 0 5vw;
  padding: 3vh 0 0 3vw;
  font-size: 15px;
  background-color: #D2E8F1;
  height: 10vh;
}

.btn-retour {
  background-color: #D2E8F1;
  color: #1b1b5b;
  width: 13vw;
  height: 6vh;
  padding: 2vh 0 0 2vw;
  margin-left: 11.5vw;
  margin-top: 10vh;
}

.btn-retour a {
  color: #1b1b5b;
  text-decoration: none;
  font-size: 16px;
}

/* FORMULAIRE CREATE ANNONCE, EDIT*/

.form {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 3vw;
  border: 3px #1b1b5b solid;
  color: #171730;
}
.checkbox {
  display: flex;
  margin-top: 3vh;
}

.form-label {
  display: flex;
  margin: 3vh 0 2vh 0;
}

.name-form {
  display: flex;
  flex-direction: column;
}

#animals_name, #animals_race, #animals_sexe, #animals_color {
  width: 14vw;
  height: 6vh;
  margin-right: 4vw;
  margin-left: -0.3vw;
  border: 1px #1b1b5b solid;
}

#animals_missing, #animals_found, #animals_microship, #animals_sterelise, #animals_animal_found , #animals_image_file_delete{
  margin-left: 1.5vw;
}

div.checkbox:nth-child(1) > p:nth-child(2) > label:nth-child(1), div.checkbox:nth-child(3) > p:nth-child(2) > label:nth-child(1) {
  margin-left: 3vw;
}

#animals_description, #animals_particularity {
  width: 72vw;
  height: 25vh;
  border: 1px #1b1b5b solid;
}

.label-description {
  margin-top: 8vh;
}

#animals_postcode {
  width: 10vw;
  height: 6vh;
  margin-right: 4vw;
  border: 1px #1b1b5b solid;
}

#animals_address, #animals_city {
  width: 25vw;
  height: 6vh;
  margin-right: 4vw;
  border: 1px #1b1b5b solid;
}

.form-image {
  display: flex;
}

#animals_image_file_file {
  padding-top: 2vh;
  margin-left: 3vw;
}

.btn-save {
  margin-top: 3vh;
  height: 6vh;
  width: 9vw;
  border: 1px #1b1b5b solid;
}

.btn-list{
  width: 9vw;
  height: 6vh;
  padding-top: 1.8vh;
  background-color:#D2E8F1;
  margin-top: 4vh;
}

.btn-list a {
  color: #1b1b5b;
  text-decoration: none;
  margin-left: 0.8vw;
  font-size: 16px;
}

.vich-file > a:nth-child(3) {
  visibility: hidden;
}

.vich-file > div:nth-child(2) > label:nth-child(1){
  margin-left: -3vw;
}

.vich-file > div:nth-child(2){
  margin-top: 3vh;
}

/* FORMULAIRE CONEXION ET INSCRIPTION*/

.page-connexion{
  position: relative; 
  height: 90vh;
  margin-top: -11vh;
  padding-top: 8vh;
}
.page-connexion::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../images/image.jpg);
  background-size: cover;
  opacity: 0.5;
}

.page-connexion > form:nth-child(1), .inscription {
  z-index: 2;
  position: relative; 
  margin-left: 9vw;
  margin-right: 8vw;
}

.page-connexion > form:nth-child(1) > label:nth-child(2),.page-connexion > form:nth-child(1) > label:nth-child(4){
  margin-left: 5vw;
  color: #1b1b5b;;
  font-weight: bold;
}

#inputEmail, #inputPassword, #registration_form_lastname, #registration_form_firstname, #registration_form_phonenumber,#registration_form_plainPassword, #registration_form_email {
  margin: 3vh 0 0 2vw;
  border: 1px #1b1b5b solid;
  height: 6vh;
}

.login {
  margin-left: 4vw;
  height: 6vh;
  width: 10vw;
  border: 1px #1b1b5b solid;
  color: #1b1b5b;;
}

.create-compte {
  z-index: 2;
  position: relative; 
  text-align: center;
  margin-top: 20vh;
  color: #1b1b5b;;
  font-weight: bold;
  font-size: 18px;
}

.btn-register {
  background-color: #ffffff;
  width: 20vw;
  height: 7vh;
  padding-top: 2.5vh;
  border: 1px #1b1b5b solid;
  margin: 5vh 0 0 39vw;
}

.btn-register a{
  color: #1b1b5b;;
  text-decoration: none;
}

.info-user, .info-auth {
  display: flex;
  margin-top:  10vh;
}

div.info-user:nth-child(1) > div:nth-child(2) > label:nth-child(1), div.info-user:nth-child(1) > div:nth-child(3) > label:nth-child(1), div.info-user:nth-child(2) > div:nth-child(2) > label:nth-child(1) {
  margin-left: 3vw;
  color: #1b1b5b;
  font-weight: bold;
}

div.info-user:nth-child(1) > div:nth-child(1) > label:nth-child(1), div.info-user:nth-child(2) > div:nth-child(1) > label:nth-child(1), div.info-user:nth-child(3) > div:nth-child(1) > label:nth-child(1) {
  color: #1b1b5b;
  font-weight: bold;
}

#registration_form_agreeTerms {
  margin-left: 2vw;
  margin-top: 2vh;
}



