 <header>

     <nav>

        <ul>
            <li><a href="/animaux-disparus">Animal Perdu</a></li>
             <li><a href="/animaux-trouve">Animal Retrouvé</a></li>
              <li><a href="/animal-retrouve">Actualités</a></li>
        </ul>
    </nav>
</header>
